html, body {
  margin: 0;
  padding: 0
}
canvas {
  display: block;
  transform: translate(0, -50rem);
  margin: auto;
}

.container{
  font-family: Helvetica, sans-serif;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.button{
  border: .1rem solid black;
  padding: 1rem;
  color: black;
  border-radius: .1rem;
  margin: 1rem;
}

.links{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detect-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
  margin-top: 2rem;
}

.subtitle{
  text-align: center;
}

.piano{
  width: 36rem;
  height: 10rem;
  border: .1rem solid black;
  margin-top: 31rem;
  display: flex;
}

.tile{
  background-color: white;
}

.piano div{
  border: .1rem solid black;
  width: 2.25rem;
}